/* Properties */
* {
    --text-custom-color: #2B2C28;
    --bg-custom-color: #EADDE1;
}

/* tag custom style */

/* class custom style */
.triangle {
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 160px solid var(--bg-custom-color);
    border-right : 100vw solid transparent;
}
